@import url('https://fonts.googleapis.com/css?family=Chewy|Patrick+Hand&display=swap');

//colors
$link: #32a093;
$bezocht: #288176;
$aanwijzen: #a3fff9;
$blauw: #32a093;
$grijs: #555555;
$wit: #ffffff;
$dark: #333;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  
//fonts
$ff-patrick: Patrick Hand;
$ff-chewy: Chewy;


//media breakpoints
$mobile: 480px;
$tablet: 760px;
$desktop: 960px;
