@import "/config";
@import "/mediaqueries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-patrick;
  color: $grijs;
}

body {
  background: $blauw;
}

h1 {
  font-family: $ff-chewy; 
  color: $blauw;
  font-size: 36px;

  @include desktop {
    font-size: 60px;
  }
}

h2 {
  font-family: $ff-chewy;
  font-size: 36px;
  color: $blauw;
}

h3 {
  font-family: $ff-chewy;
  font-size: 24px;
  color: $grijs;
  text-align: center;
}

h4 {
  font-family: $ff-chewy;
  font-size: 20px;
  color: $blauw;
  margin-bottom: 0px;
  margin-top: 5px;
}

p {
  font-size: 16px;

  @include desktop {
    font-size: 18px;
  }
}

a {
  color: $link;
  text-decoration: none;
}

img {
  max-width: 100%;
}

//nog splitsen 
.tijdelijk {
  color: red;
  font-weight: bold;
}

.btn {
  background: $dark;
  color: $wit;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  background: $blauw;
  max-width: 1150px;
}

/* Navigation bar*/
.main-nav {
  $el: '.main-nav';

  max-width: 100%;
  max-height: 127px;
  background: $wit;
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    width: 20%;
    height: 20%;
    margin: auto;

    @include desktop {
      width: auto;
      height: auto;
    }
  }

  &__toggle-checkbox {
    display: none;
  }
  
  &__toggle-label {
    cursor: pointer;
    top: 10px;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;

    @include desktop{
      display: none;
    }
  }

  &__toggle-icon {
    display: block;
    background-color: $blauw;
    border-radius: 3px;
    height: 3px;
    width: 1.5em;
    position: relative;
    transition: all .2s ease-out;
  }

  &__toggle-icon::before {
    content: '';
    display: block;
    background: $blauw;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    position: absolute;
    top: -10px;
    transition: all .2s ease-out;
  }
  
  &__toggle-icon::after {
    content: '';
    display: block;
    background: $blauw;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    transition: all .2s ease-out;
  }

  &__nav {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform-origin: top;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    
    @include desktop {
      display: flex;
      position: relative;
      top: initial;
      width: auto;
      max-width:100%;
      transform: scale(1, 1);
    }
  }
  
  &__nav-item {
    position: relative;
    padding: 10px;
    background: $wit;
    color: $grijs;
    cursor: pointer;
    text-align: center;
    flex: 1;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    border-top: 1px solid $blauw;
    font-size: 18px;
    
    @include desktop {
      opacity: 1;
      display: inline-block;
      min-width: 150px;
      font-size: 20px;
      border-radius: 4px;
      border: none;
    }
    
    &:hover {
      background: $blauw;
      color: $wit;

      i {
        color: $wit;
      }
    }
  }

  #{$el}__toggle-checkbox:checked ~ #{$el}__nav {
    transform: scale(1, 1);
  }

  #{$el}__toggle-checkbox:checked ~ #{$el}__nav #{$el}__nav-item {
    opacity: 1;
  }

  #{$el}__toggle-checkbox:checked ~ #{$el}__toggle-label #{$el}__toggle-icon {
    background: transparent;
  }

  #{$el}__toggle-checkbox:checked ~ #{$el}__toggle-label #{$el}__toggle-icon::before {
    transform: rotate(-45deg);
    top: 0;
  }

  #{$el}__toggle-checkbox:checked ~ #{$el}__toggle-label #{$el}__toggle-icon::after {
    transform: rotate(45deg);
    top: 0;
  }
}

/* top container */
.c-main-photo {
  display: grid;
  grid-template-areas: "foto foto" "foto foto";
  
  &__img {
    grid-area: foto;
    background: url("https://www.haakdraak.nl/afbeeldingen/48-2.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 25px;
    min-height: 250px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow;
    
    @include mobile {
      min-height: 300px
    }

    @media (min-width: 620px) {
      min-height: 375px;
    }

    @include desktop {
      min-height: 512px;
      background-size: cover;
      padding: 3rem;
    }
  }

  &__title {
    margin-bottom: 0;
    color: $wit;

    @media (min-width: 620px) {
      font-size: 2.5rem;
    }
  
    @include desktop {
      font-size: 4rem;
    }
  }
  
  &__text {
    margin-top: 0;
    color: $wit;
    text-align: center;

    @media (min-width: 620px) {
      font-size: 24px;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }
}

.pagina-naam {
  background: $wit;
  text-align: center;
}

.boxes {
  display: block;

  @include tablet {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }  
}

.product-boxes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.box {
  background: $wit;
  text-align: left;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10% 2rem;
  margin-bottom: 10px;

  img {
    max-height: 500px;
  }

  i {
    padding: 5px;
    font-size: 20px;
    
    &:hover {
      background: $blauw;
      color: $wit;
    }
  }
}

.product {
  margin-top: 10px;
  max-height: 500px;
  padding-left: 10px;
  background: $wit;
  box-shadow: $shadow;

  img {
    max-width: 174px;
    max-height: 235px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .kopjes {
    font-weight: bold;
  }

  h4 {
    margin-left: 20px;
  }
}

.prijs {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
  
  i {
    padding: 10px;
    float: right;
    margin-right: 35px;
 
    &:hover {
      background: $blauw;
      color: $wit;
    }
  }
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-items: center;


  img {
    border: none;
    box-shadow: $shadow;
    max-width: 100%;
    
    &:nth-child(2) {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
}

.foot-nav {
  width: 100%;
  background: $wit;
  margin-top: 25px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    max-width: 100%;
    height: 100px;
    margin: 25px auto;
  }

  &__box {
    max-width: 100%;
    text-align: center;
    padding: 5px;
  }

  &__box-text {
    font-size: 16px;
    
    @include desktop {
      font-size: 20px;
    }
  }

  i {
    font-size: 24px;

    @include desktop {
      font-size: 42px;
    }
  }

  a {
    color: $grijs;
    // text-decoration: none;
  }
}

table {
  font-family: $ff-patrick;
  font-size: 20px;
  border-collapse: collapse;
  margin: auto;
}

.cart{
  thead {
    font-weight: bold;
    color: $blauw;
    border: 1px solid $grijs;
  }

  td {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 6rem;
  }

  tfoot {
    border-top: 1px solid $grijs;
  }

  i {
    padding: 5px;
    
    &:hover {
    background: $blauw;
    color: $wit;
    }
  }
}

.error {
  color: #ff4d4d;
  font-size: 24px;
}

.formButton {
  display: inline-block;
  padding: 10px;
  background: $wit;
  color: $grijs;
  cursor: pointer;
  text-align: center;
  border: none;
  font-family: $ff-patrick;
  font-size: 20px;
  min-width: 150px;
  margin-top: 25px;
  
  &:hover {
    background: $blauw;
    color: $wit;
  }

  &:disabled {
    background: $wit;
    color: red;
  }
}

.info {
  font-weight: bold;
  font-family: $ff-patrick;
}

.filter {
  background: $wit;

  label {
    font-family: $ff-patrick;
    font-size: 20px;  
  }

  select {
    font-family: $ff-patrick;
    font-size: 20px;
  }
}

.pagination {
  font-family: $ff-patrick;

  button {
    display: inline-block;
    background: $wit;
    color: $grijs;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 28px;
    margin: 5px;
  
    &:hover {
      background: $blauw;
      color: $wit;
    }

    &:disabled {
      background-color: $blauw;
      color: $blauw;
    }
  }
}

#login {
  text-align: center;
}

.socialmedia {
  background-color: $wit;
  text-align: center;
}

.load {
  background: $wit;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 50%;
  box-shadow: $shadow;
}
