@import "/config";
@import "/mediaqueries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-patrick;
  font-size: 20px;
  color: $grijs;
}

body {
  background: $blauw;
}

h1 {
  font-family: $ff-chewy; 
  color: $blauw;
  font-size: 36px;

  @include desktop {
    font-size: 60px;
  }
}

h2 {
  font-family: $ff-chewy;
  font-size: 36px;
  color: $blauw;
}

h3 {
  font-family: $ff-chewy;
  font-size: 24px;
  color: $grijs;
  text-align: center;
}

h4 {
  font-family: $ff-chewy;
  font-size: 20px;
  color: $blauw;
  margin-bottom: 0px;
  margin-top: 5px;
}

p {
  font-size: 20px;
  font-family: $ff-patrick;
}

img {
  max-width: 100%;
}

//nog splitsen 
.tijdelijk {
  color: red;
  font-weight: bold;
}

.btn {
  background: $dark;
  color: $wit;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  background: $blauw;
  max-width: 1150px;
}

/* Navigation bar*/
.main-nav {
  max-width: 100%;
  max-height: 127px;
  background: $wit;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-img {
    width: 20%;
    height: 20%;
    margin: auto;

    @include desktop {
      width: auto;
      height: auto;
    }
  }

  &__toggle-checkbox {
    // display: none;
  }
  
  &__nav {
    max-width: 100%;
    display: flex;
  }
  
  &__nav-item {
    position: relative;
    padding: 10px;
    background: $wit;
    color: $grijs;
    cursor: pointer;
    text-align: center;
    border: none;
    flex: 1;
    
    @include desktop {
      display: inline-block;
      min-width: 150px;
      font-size: 24px;
      border-radius: 4px;
    }

    &:hover {
      background: $blauw;
      color: $wit;

      i {
        color: $wit;
      }
    }
  }
}

/* top container */

.c-main-photo {
  display: grid;
  grid-template-areas: "foto foto" "foto foto";
  
  &__img {
    grid-area: foto;
    min-height: 512px;
    background: url("https://www.haakdraak.nl/afbeeldingen/48-2.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow;
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 0;
    color: $wit;
  }

  &__text {
    font-size: 1.5rem;
    margin-top: 0;
    color: $wit;
    text-align: center;
  }
}

.pagina-naam {
  background: $wit;
  text-align: center;
}

.boxes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  a {
    color: $link;
    text-decoration: none;
  }
}

.product-boxes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(200px, 1fr));

  a {
    color: $link;
    text-decoration: none;
  }
}

.box {
  background: $wit;
  text-align: left;
  padding: 1.5rem 2rem;
  box-shadow: $shadow;

  img {
    max-height: 500px;
  }

  i {
    padding: 5px;
    font-size: 20px;
    
    &:hover {
      background: $blauw;
      color: $wit;
    }
  }

  &-1 {
    grid-area: box-1;
  }

   a {
    color: $blauw;
  }

  &-2 {
    grid-area: box-2;
  }
}

.product {
  margin-top: 10px;
  max-height: 500px;
  padding-left: 10px;
  background: $wit;
  box-shadow: $shadow;

  img {
    max-width: 174px;
    max-height: 235px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .kopjes {
    font-weight: bold;
  }

  h4 {
    margin-left: 20px;
  }
}

.prijs {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
  
  i {
    padding: 10px;
    float: right;
    margin-right: 35px;
 
    &:hover {
      background: $blauw;
      color: $wit;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-items: center;

  img {
    border: none;
    box-shadow: $shadow;
    max-width: 100%;
    
    &:nth-child(2) {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
}

.foot-nav {
  height: 100px;
  width: 1150px;
  background: $wit;
  margin: 25px auto;
  box-shadow: $shadow;
  display: flex;

  p {
    margin-left: 20px;
  }

  a {
    color: $grijs;
    text-decoration: none;
  }
}

table {
  font-family: $ff-patrick;
  font-size: 20px;
  border-collapse: collapse;
  margin: auto;
}
.cart{
  thead {
    font-weight: bold;
    color: $blauw;
    border: 1px solid $grijs;
  }

  td {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 6rem;
  }

  tfoot {
    border-top: 1px solid $grijs;
  }

  i {
    padding: 5px;
    
    &:hover {
    background: $blauw;
    color: $wit;
    }
  }
}

.error {
  color: #ff4d4d;
  font-size: 24px;
}

.formButton {
  display: inline-block;
  padding: 10px;
  background: $wit;
  color: $grijs;
  cursor: pointer;
  text-align: center;
  border: none;
  font-family: $ff-patrick;
  font-size: 20px;
  min-width: 150px;
  margin-top: 25px;
  
  &:hover {
    background: $blauw;
    color: $wit;
  }

  &:disabled {
    background: $wit;
    color: red;
  }
}

.info {
  font-weight: bold;
  font-family: $ff-patrick;
}

.filter {
  background: $wit;

  label {
    font-family: $ff-patrick;
    font-size: 20px;  
  }

  select {
    font-family: $ff-patrick;
    font-size: 20px;
  }
}

.pagination {
  font-family: $ff-patrick;

  button {
    display: inline-block;
    background: $wit;
    color: $grijs;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 28px;
    margin: 5px;
  
    &:hover {
      background: $blauw;
      color: $wit;
    }

    &:disabled {
      background-color: $blauw;
      color: $blauw;
    }
  }
}

#login {
  text-align: center;
}

.socialmedia {
  background-color: $wit;
  text-align: center;
}

.load {
  background: $wit;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 50%;
  box-shadow: $shadow;
}
